# dependencies
node_modules/
.pnp
.pnp.js

# build output
.next/
out/
dist/
*.tsbuildinfo

# env
.env*.local
.env

# logs
dev-server*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE / OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# misc
.playwright-mcp/
*.swp

.vercel
